<!DOCTYPE html>
<html>
<body style="background-color:powderblue;">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="../style.css">
<title>About Page</title>
</head>
<body>

<div class="topnav">
<a href="../Views/homePage.html">Home Page</a>
<a href="../Views/aboutPage.html">About</a>
<form action="../Handlers/homeHandler.php" method="POST">
<a><input type="submit" class="customButton2" value="Account" name="account"></a>
<a><input type="submit" class="customButton2" value="Logout" name="logout"></a>
</form>
</div>
<h1 style="text-align:center;">
This is an eccomerce application.
<br>
This application revolves around selling grocery products and showcasing various features.
<br>
More features will be added to the application as the weeks progress.
</h1>
</body>
</html>